body{
  background-color: lightblue;
}

.board {
  max-width: 820px;
  max-height: 820px;
  margin: auto;
  background-color: lightblue;
  border: 5px;
  border-color: lightblue;
}

.card {
  width: 180px;
  height: 180px;
  margin: 5px;
  float: left;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}
.card > .back {
  background-color: black;
  position: absolute;
  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
  width: 180px;
  height: 180px;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.card > .front {
  background-color: maroon;
  position: absolute;
  -webkit-transform: perspective( 600px ) rotateY( 180deg );
  transform: perspective( 600px ) rotateY( 180deg );
  width: 180px;
  height: 180px;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

.card:hover > .back {
  transform: perspective( 600px ) rotateY( -180deg );
}
.card:hover > .front {
  transform: perspective( 600px ) rotateY( 0deg );
}

h1{
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  line-height: 1.2em
}
